@charset "utf-8";
/* CSS Document */


body {
  margin: 0;
  padding-top: 60px; /* Espaço para o menu fixo */
  background-color: #FFF;
  min-height: 100vh;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  padding: 20px;
  color: #000000;
}

.menu-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #88C;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.menu-superior ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-superior li {
    display: inline;
    margin: 0 20px;
}

.menu-superior a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.menu-superior a:hover {
    background-color: #555;
    border-radius: 4px;
}


h1 {
  color: black;
  margin-bottom: 25px;
  font-size: 32px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


h3 {
  color: black;
  margin-bottom: 25px;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}



p {
  color: black;
  margin-bottom: 25px;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}



